minishell
minishell_test.log
.minishell_history

libft/*.o
libft/*.a

minishell_basic/srcs/*/*.o
minishell_basic/srcs/*/*.a
minishell_bonus/srcs/*/*.o
minishell_bonus/srcs/*/*.a
minishell_tester
.vs_code
